body{
  text-align: center;
  font-family: Helvetica;
}
h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}
#home{
  background-image: url("images/the-flatiron-building.png");
}
h5{
  font-size: 18px;
  ont-weight: bold;
  color: white;
}
h4{
  font-size: 23px;
  font-weight: bold;
}
p{
  font-size: 14px;
}
.links{
  color: white;
  background-color: dimgray;
  text-align: left;
}
.design{
  background-image: url("images/the-flatiron-building.png");
  font-size: 23px;
  font-weight: bold;
  color: white;
}
#bottom{
  font-size: 11px;
  text-align: left;
  background-color: dimgray;
  color: white;
}
#bottom_links{
  font-size: 20px
}
a:link{
  color: white;
}
